<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>子夜书店</title>
    <script src="/js/jquery-3.2.1.js" type="text/javascript"></script>
    <script type="text/javascript">
        var time=5;
        $().ready(function count_down() {
            $("#count_down").html(time);
            if(time==0){
                $(location).attr('href','/index.html');
            }
            time--;
            setTimeout(function () {
                count_down();
            },1000)

        })
    </script>
</head>
<body>
<div>
    注销成功，还有<div id="count_down"></div>秒自动返回首页。
</div>

</body>
</html>